.section-exp {

}

.section-exp-title {

}

.section-exp-showcase {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.section-exp-showcase .carousel-container {
    width: 60%;
}

.section-exp-showcase .description-container .social {
    justify-content: start; 
    padding-top: 1.5rem;
}

@media only screen and (orientation: portrait) and (max-width:640px) {
    .section-exp-showcase {
        flex-direction: column;
        justify-content: center;
    }
    
    .section-exp-showcase .carousel-container {
        width: 100%;
    }

    .section-exp-showcase .description-container .social {
        justify-content: center;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    .section-exp-showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .section-exp-showcase .carousel-container {
        width: 100%;
    }
    
    
    .section-exp-showcase .description-container .social {
        justify-content: center;
    }
}