@import url(./experience.css);

.showcase-viewport {
    width: 80%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    color: aliceblue;
}

.section-viewport {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: "Motiva Sans", Sans-serif;
    margin: 0 auto;
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    .showcase-viewport {
        width: 100%;
        
    }

    .section-viewport {
        font-size: 14px;
    }
}