#particles-background {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100svw;
    height: 100svh;
    z-index: 0;
    pointer-events: none;
    clip-path: inset(0 0 calc(100svh - 100svh) 0);
}