.cta-btn {
    background: #ff4141;
    color: white;
    padding: 12px 26px;
    border-radius: 6px;
    /* margin-top: 20px; */
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.cta-btn.more {
    background-color: #802525;
    margin-top: 10px;
    padding: 12px 12px;
}

@media only screen and (orientation: portrait) and (max-width: 640px) {
    .profile-pic {
        width: clamp(15svw, 25svw, 50svw);
        height: auto;
    }
}

@media only screen and (orientation: portrait) and (max-width: 450px) {
    .profile-pic {
        width: 60svw;
    }
}
