#experiences-cnt {
    margin-inline: 25px;
}

.section-exp {

}

.section-exp-title {

}

.section-exp-showcase {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.section-exp-showcase .carousel-container {
    width: 60%;
}

.section-exp-showcase .description-container .social {
    justify-content: start; 
    padding-top: 1.5rem;
}



.section-exp h3, 
.section-exp h4 {
    margin-bottom: 5px;
}

.section-exp h4, 
.section-exp h5 {
    margin-top: 5px; 
    font-weight: 100; 
    font-size: 14px;
}

.section-exp h3 {
    font-weight: bold;
    font-size: 20px;
}

.section-exp h5 {
    color: rgba(240, 248, 255, 0.607)
}

@media only screen and (orientation: portrait) and (max-width:640px) {
    .section-exp-showcase {
        flex-direction: column;
        justify-content: center;
    }
    
    .section-exp-showcase .carousel-container {
        width: 100%;
    }

    .section-exp-showcase .description-container .social {
        justify-content: center;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    .section-exp-showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .section-exp-showcase .carousel-container {
        width: 100%;
    }
    
    
    .section-exp-showcase .description-container .social {
        justify-content: center;
    }
}