.popup {
    position: fixed;
    inset: 0;
    background: var(--page-bg);
    display: grid;
    place-items: center;
    z-index: 10;


    width: 100svw;
    height: 100svh;
    display: block;
    unicode-bidi: isolate;
}

/* .popup .background {
    width: 100vw;
    height: 100vh;
    
    background:
    linear-gradient(
      to right,
      var(--page-bg),
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      var(--page-bg)
    ),
    url("../../img/projects/rushrift/banner.jpeg");

    filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.popup .background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-bg {
    position: absolute;
    inset: 0;                 /* 10% border all around */
    width: 100svw;
    height: 100svh;

    background-size: 100%;
    background-position: center;

    filter: blur(15px);
    transform: scale(1.1);      /* hides blur edges */

    opacity: .1;
    z-index: -6;

    /* soft fade on ALL sides */

    --color: rgb(31, 5, 57);
    --gradient: 
        linear-gradient(to right, transparent 0%, var(--color) 20%, var(--color) 80%, transparent 100%),
        linear-gradient(to bottom, transparent 0%, var(--color) 20%, var(--color) 80%, transparent 100%);
    -webkit-mask-image: var(--gradient);
    -webkit-mask-composite: source-in;
    mask-image: var(--gradient);
    background: var(--gradient);

    mask-composite: intersect;
}

.popup .background.content {
    width: 100%;
    height: 100%;
}

.popup .showcase-viewport {
    justify-content: start;
    
}