body.popup-open {
    overflow: hidden;
}

.popup {
    position: fixed;
    inset: 0;
    background: var(--page-bg);
    display: grid;
    place-items: center;
    z-index: 1000;


    /* width: 100svw;
    height: 100svh;
    display: block;
    unicode-bidi: isolate; */
}

.popup-panel {
    max-height: 100svh;
    width: 100svw;

    overflow-y: auto;
}


/* Background */

.bg-cnt {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    
    width: 100%;
    min-height: 100svh;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.bg div {
    position: absolute;
}

.bg-color {
    position: absolute;
    width: 100%;
    height: 100svh;
    background-color: var(--page-bg);
    z-index: 0;
}

.bg-img-cnt {
    position: absolute;
    width: 80%;
    height: 80svh;
    opacity: .21;
    transform: translateY(10svh);
    justify-self: center;
    align-self: center;
    
    --grad: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, transparent 100%);
    -webkit-mask: var(--grad);
    mask: var(--grad);
    
    object-fit: cover;
    object-position: center;
    
    z-index: 1;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;     
}

.bg-overlay {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100svh;
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.bg-gradient {
    /* display: none; */
    width: 100%;
    height: 100svh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 35%, var(--page-bg) 100%);
    z-index: 3;
}

.bg-content {
  position: relative;
  z-index: 4;
}


.popup .background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup .background.content {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
}

.popup .showcase-viewport {
    justify-content: start;
    
}

.close-popup {
    width: 50px;
    height: 50px;
    align-self: center;
    transform: translateY(15px);
    background: rgba(0,0,0,0);
    border-style: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}