body.popup-open {
    overflow: hidden;
}

.popup {
    --bg-base: #0103265e;
    --bg-overlay: #0000007d;
    --bg-grad-edge: #281c18;
    position: fixed;
    inset: 0;
    background: black;
    display: grid;
    place-items: center;
    z-index: 1000;
}

.popup-panel {
    position: relative;
    z-index: 10;
    height: 100svh;
    overflow-y: auto;
    width: 100svw;
    height: 100svh;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup .background {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0;
}

.popup .background.content {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0;
}


/* Background */

.bg-cnt {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    
    /* width: 100%;
    min-height: 100svh;
    height: 100svh;
    display: flex;
    flex-direction: column; */
}

.bg-color,
.bg-overlay,
.bg-gradient {
    position: absolute;
    inset: 0;
}

.bg-color {
    background: var(--bg-base);
    z-index: 0;
}

.bg-img-cnt {
    position: absolute;
    width: 80%;
    height: 80svh;
    inset: 0;
    opacity: 0.25;
    justify-self: center;
    align-self: center;
    --grad: radial-gradient(circle, rgba(0, 0, 0, 1) 35%, transparent 100%);
    -webkit-mask: var(--grad);
    mask: var(--grad);
    
    z-index: 1;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.bg-overlay-cnt {
    opacity: 1;
    box-sizing: border-box;
    z-index: 2;
}

.bg-overlay {
    background: var(--bg-overlay);
    z-index: 2;
}

.bg-gradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 35%, var(--bg-grad-edge) 100%);
    z-index: 3;
}

.bg-content {
    position: relative;
    z-index: 10;  /* above background */
}

.popup .showcase-viewport {
    position: relative;
    z-index: 10;
    justify-content: start;
}

.close-popup {
    width: 50px;
    height: 50px;
    align-self: center;
    transform: translateY(15px);
    background: rgba(0, 0, 0, 0);
    border-style: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}